@using ProjeBandrol.Data.Enum;

@using ProjeBandrol.Data.ViewModels;
@model List<BandrolListeVM>



<div class="row create-form">
    <div class="">

        <div class="row">
            <div class="">
                <div class="card" style="border:none;border-radius:5px;height:520px;margin-left:12px;margin-right:12px;">
                    <div class="card-header" style="background-color:white; color:#181C32; font-weight:500;font-size:1.275rem;margin:0.5rem;">
                        Araçlarım
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Plaka</th>
                                    <th>Bandrol No</th>
                                    <th>Geçerlilik süresi</th>
                                    <th class="text-center"> Durumu </th>
                                 
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Plaka </td>
                                        <td>@item.BandrolNo</td>
                                        <td class="text-center">@item.BaslangicTarihi - @item.BitisTarihi</td>
                                        <td class="text-center">@item.BasvuruDurumu</td>                                   
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

